<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.derpfish.pinkielive"
	android:versionName="1.0"
	android:versionCode="1">

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />

	<application android:icon="@drawable/ic_launcher"
		android:label="Pinkie Pie Live">

		<service android:name=".LiveWallpaper"
			android:label="Pinkie Pie Live"
			android:icon="@drawable/ic_launcher"
			android:permission="android.permission.BIND_WALLPAPER">

			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/livewallpaper" />

		</service>

		<activity android:label="Settings"
			android:name=".LiveWallpaperSettings"
			android:theme="@android:style/Theme.Light.WallpaperSettings"
			android:exported="true"
			android:icon="@drawable/ic_launcher">
		</activity>
		
		<activity android:label="Credits"
			android:name=".PinkieLiveCredits"
			android:theme="@android:style/Theme.Light"
			android:exported="false"
			android:icon="@drawable/ic_launcher">
		</activity>
		
	</application>
</manifest>
